#version=DEVEL
# System authorization information
auth reboot --enableshadow --passalgo=sha512
# Use network installation
url --url="http://10.10.3.225/centos7-install/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp3s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$xuZdiy1JzrA8J1DR$WuqPCq4HaXdt9BEeZQkh7JbH0tXt/VZbzUjULExgGGXvEmUoARof9B7dn0SRZX9UmWhrXK1Vpb0LAL1Vuroj41
# System services
services --disabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdb

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
